* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #0062BE;
    min-height: 100vh;
}

.navbar {
    padding: 30px 100px;
}

.navbar .navbar-brand img {
    width: 80%;
}

.navbar .navbar-toggler {
    border: none;
    color: #F9F9F9;
}

.navbar .navbar-toggler i {
    font-size: 2rem;
}

.navbar .offcanvas-header button {
    background: transparent;
    border: none;
    color: #1E1E1E;
}

.navbar .offcanvas-header i {
    font-size: 1.5rem;
}

.navbar .navbar-nav {
    gap: 2rem;
}

.navbar .navbar-nav .nav-link {
    color: #F9F9F9;
    font-size: 1rem;
    height: 100%;
    letter-spacing: .2rem;
    position: relative;
    text-transform: uppercase;
    transition: .5s;
}

.navbar .navbar-nav .nav-link.active {
    background-color: transparent;
    color: #F9F9F9;
}

.navbar .navbar-nav .nav-link:before {
    background: #F9F9F9;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: .3s cubic-bezier(.25,.01,.32,1.61);
}

.navbar .navbar-nav .nav-link.active:before,
.navbar .navbar-nav .nav-link.active:hover:before {
    opacity: 1;
    width: 100%;
}

.navbar .navbar-nav .nav-link:before {
    opacity: 0;
    width: 0;
}

.navbar .navbar-nav .nav-link:hover:before {
    opacity: 0.5;
    width: 100%;
}

.content-container h1 {
    color: #F9F9F9;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.content-container p {
    color: #F9F9F9;
    font-size: 1.2rem;
    width: 40rem;
}

.content-container button {
    background: #F9F9F9;
    border-radius: 5rem;
    border: none;
    color: #1E1E1E;
    font-weight: bold;
    padding: .5rem;
    text-transform: uppercase;
    transition: .5s;
    width: 12rem;
}

.content-container button:hover {
    opacity: .5;
}

.img-container img {
    max-width: 400px;
}

.buttons-container {
    bottom: 0;
    gap: 1rem;
    margin-bottom: 2rem;
    position: absolute;
    width: 20rem;
}

.buttons-container button {
    background: transparent;
    border: none;
    transition: .5s;
}

.buttons-container button:hover {
    transform: scale(1.2);
}

.buttons-container img {
    width: 70%;
}

.social-container {
    gap: 1rem;
    margin-right: 2rem;
    position: absolute;
    right: 0;
}

.social-container i {
    color: #F9F9F9;
    font-size: 2rem;
    transition: .5s;
}

.social-container i:hover {
    opacity: .5;
}

@media (max-width: 1100px) {

    .content-container h1 {
        font-size: 3rem;
    }
    
    .content-container p {
        font-size: 1rem;
        width: 30rem;
    }

    .img-container img {
        max-width: 200px;
    }
}

@media (max-width: 991px) {

    .navbar .offcanvas-header,
    .navbar .offcanvas-body {
        background: #F9F9F9;
    }   

    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link {
        color: #1E1E1E;
    }

    .content-container h1 {
        font-size: 5rem;
    }
    
    .content-container p {
        font-size: 1.2rem;
        width: 40rem;
    }

    .img-container {
        margin-top: 2rem;
    }

    .img-container img {
        max-width: 400px;
    }

    .buttons-container {
        margin-top: 2rem;
        position: initial;
    }

    .buttons-container img {
        width: 70%;
    }

    .social-container {
        margin-bottom: 2rem;
        margin-right: 0;
        margin-top: 2rem;
        position: initial;
    }
}

@media (max-width: 768px) {

    .navbar {
        padding: 15px 50px;
    }

    .navbar-brand {
        height: 5rem;
        width: 5rem;
    }

    .content-container h1 {
        font-size: 3rem;
    }
    
    .content-container p {
        font-size: 1rem;
        width: 30rem;
    }

    .img-container img {
        max-width: 200px;
    }

    .buttons-container img {
        width: 60%;
    }
}

@media (max-width: 576px) {

    .navbar {
        padding: 10px 25px;
    }

    .content-container p {
        width: 20rem;
    }

    .img-container img {
        max-width: 150px;
    }

    .buttons-container img {
        width: 50%;
    }
}